<style>
  /* .f-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
   */
   .li-space {
  margin-right: 10px;
}
.f-container{
  background-color: white;
}
.first-text{
  font-size: 1rem;
  color: rgb(14, 18, 22);
}
.social-media{
  
  color: #E6C744;
}
.social-media li {
  color: black;
}
.social{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  color: black;
}
.f-grid-col-2{
  padding: 2rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.f-subheading{
  font-size: 1rem;
  color: rgb(14, 18, 22);
}
.f-grid-col-3{
  padding: 2rem;
}
.second-text{
  font-size: 20px;
}

.cente{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  color: black;
text-decoration: none;

}
.cente a{
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.last{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icon {
  margin: 10px 0; /* Adjust the margin to add space between icons */
}
.f-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.f-links a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.titlee{
  font-size: 1.1rem;
}
</style>

<footer>
  <div class="f-container">
    <div class="f-grid" style="display: flex; justify-content: space-around;">
    
      <div class="f-grid-col-2">
        <h3 class="f-subheading first-text titlee">FASHION  </h3>
        <h3 class="f-subheading first-text">Complete your style with awesome clothes from us.  </h3>
        
        
        <ul class="f-social social-media" style="display: flex; justify-content: space-around; list-style-type: none; padding: 0;">
          <li class="social-icon"></li>><a href="#" target="_blank"><i class="fa-brands fa-facebook-f social"></i></a></li>
          <li class="social-icon"></li>><a href="#" target="_blank"><i class="fa-brands fa-instagram social"></i></a></li>
          <li class="social-icon"></li>><a href="#" target="_blank"><i class="fa-brands fa-twitter social"></i></a></li>
          <li class="social-icon"></li>><a href="#" target="_blank"><i class="fa-brands fa-linkedin social"></i></a></li>
        </ul>
      </div>

<div class="center-container">
  <div class="cente">
    <h3 class="titlee">Company</h3>
    <a href="">About</a>
    <a href="">Contact us</a>
    <a href="">Support</a>
    <a href="">Careers</a>
  </div>


</div>

<div class="center-container">
  <div class="cente">
    <h3 class="titlee">Quick Link</h3>
    <a href="">Share Location</a>
    <a href="">Orders Tracking</a>
    <a href="">Size Guide</a>
    <a href="">FAQs</a>
  </div>


</div>



<div class="f-grid-col-3 last">
  <h3 class="f-subheading titlee">Legal</h3>
  <ul class="f-links" style="display: flex; justify-content: space-around; list-style-type: none; padding: 0;">
    <li class="li-space lastt"><a href="/privacy">Privacy Policy</a></li>
    <li class="li-space lastt"><a href="/terms">Terms and Conditions</a></li>
  </ul>
</div>

    
    </div>
  </div>
</footer>